* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --crismon: #ff2a66;
}
body {
  background: linear-gradient(
    180deg,
    rgba(4, 3, 24, 1) 8%,
    rgba(15, 19, 102, 1) 78%,
    #202781 94%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


/* Navbar styling*/

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 2px solid rgba(6, 18, 179, 0.8);
  height: 10vh;
  width: 95%;
  margin: 3vh 3vw;
  z-index: 1;
}
.max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
}
a{
  text-decoration: none;
}
.logo{
  margin-left: 2.5rem;
  flex: 1;
}
.logo a{
  color: var(--white);
  font-size: 2.5rem;

}
.menu {
  display: flex;
  flex: 1;
}
.menu li {
  margin-left: 3rem;
  list-style: none;
}
.menu li a {
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 1px;
}

/* Content stylings starts */
.about {
  display: flex;
  margin: 2rem 10rem;
}

/* Text part styling */
.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8rem;
}
 h1 {
  font-size: 5rem;
  color: var(--white);
}
.text span{
  font-size: 5.5rem;
  color: var(--crismon);
}

/* image part Styling */
.image {
  display: flex;
  flex: 1;
  justify-content: right;
}
.image img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--white);
}

/* social links  */
.socials {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  background: hwb(240 91% 8%);
  box-shadow: 5px 5px 10px #181d61, -5px -5px 10px #2831a1;
}
.links img {
  height: 30px;
  width: 30px;
}
