*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: aquamarine;
    top: 10vh;
    left: 10vw;
    border-radius: 20px;
    box-shadow: 15px 13px 28px -11px rgba(74,212,164,1);
}
h1{
    position: absolute;
    left: 30%;
    top: 0.3em;
    font-size: 3rem;
}
address{
    position: absolute;
    top: 5em;
    left: 40%;
}
span{
    font-size: 1.2em;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em
}


/* assignments */

.assignments{
    position: relative;
    top: 11em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    gap: 1em;
}
.row{
    display: flex;
    justify-content: space-around;
}
.name{
    color: blue;
    text-decoration: underline;
}
.item{
    margin-top: 2vh;
}
.item span{
    font-weight: 100;
}
.item a{
    font-weight: 100;
    color: black;
    font-size: 1em;
    text-decoration: underline;
}