.gallery {
  width: 100%;
}

.gallery-container {
  /* align-items: center;
  display: flex; */
  margin-top: 10vh;
  height: 60vh;
  max-width: 80vw;
}

.gallery-item {
  height: 20vh;
  width: 10vw;
}
.gi{
  height: 20vh;
  width: 10vw;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  object-fit: cover;
}
.gi1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gi2,
.gi4 {
  height: 30vh;
  opacity: 1;
  width: 13vw;
  z-index: 1;
}

.gi2 {
  left: 30%;
  transform: translateX(-50%);
}

.gi3 {
  height: 40vh;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 18vw;
  z-index: 2;
}

.gi4 {
  left: 70%;
  transform: translateX(-50%);
}

.gi5{
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  transform: translateY(-5rem);
  display: flex;
  justify-content: center;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0 1rem;
  text-transform: capitalize;
  color: var(--white);
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -1rem
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -1rem;
}

.gallery-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

