* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
:root {
  --white: #ffffff;
  --grey: #cfcfcf;
  --seablue:#08fdd8;
}
body {
  background-color: rgb(21, 21, 21);
  font: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--white);
}

/* common styling */
.max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
}

.about,
.skills
{
  height: 100vh;
  display: flex;
  margin: 8rem 0 0 5rem;
}

p{
  color: var(--grey);
  text-align: justify;
}
.left{
  flex: 1;
}
.right{
  flex: 1;
}

.head{
  font-size: 5rem;
}

.projects,
.contact{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.top{
  flex: .3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bottom{
  flex: .7;
}
/* Navbar styling*/

.navbar {
  position: fixed;
  background-color: rgba(21, 21, 21, 0.6);
  border-top: 2px solid rgba(6, 18, 179, 0.8);
  height: 10vh;
  width: 95%;
  margin: 3vh 3vw;
  z-index: 1;
}

a{
  text-decoration: none;
}
.logo{
  margin-left: 2.5rem;
  flex: 1;
}
.logo a{
  color: var(--seablue);
  font-size: 2.5rem;

}
.menu {
  display: flex;
  flex: 1;
}
.menu li {
  margin-left: 3rem;
  list-style: none;
}
.menu li a {
  font-size: 1.2rem;
  color: var(--white);
  letter-spacing: 1px;
}

/* Content stylings starts */
.home {
  display: flex;
  margin: 13rem 10rem 0 10rem; 
}

/* Text part styling */
.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8rem;
}
 h1 {
  font-size: 5rem;
}
.text span{
  font-size: 5.5rem;
  color: var(--seablue);
}

/* image part Styling */
.image {
  display: flex;
  flex: 1;
  justify-content: right;
}
.image img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--white);
}

/* social links  */
.socials {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  background: rgb(240, 240, 240);
  box-shadow: 5px 5px 10px #262628, -5px -5px 5px #3b3c3f;
}
.links img {
  height: 30px;
  width: 30px;
}


/* about styling */

.a-left{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
p{
  padding-right: 5rem;
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}
.a-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-left: 2rem;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}
h3{
  font-size: 2.5rem;
}
.card{
  height: 10rem;
  width: 18rem;
  background-color: rgb(33, 33, 34);
}
.card-3{
  height: 13rem;
  width: 25rem;
}
.card-head{
  height: 20%;
  border-top: 2px solid rgba(6, 18, 179, 0.8) ;
  display: flex;
  align-items: center;
  padding: 2rem ;

}
.card-content{
  padding-left: 2rem;
}
h4{
  color: var(--seablue);
  font-weight: 300;
  padding-bottom: 1rem;

}

.card-content h4{
  color: var(--white);

}
h5{
  color: var(--grey);
  font-size: 1rem;
}

/* skills */
.s-right{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* contact */
.c-bottom{
  display: flex;
}
.bottom-left,
.bottom-right{
  flex: 1;
  padding-top: 2rem;
}

#myForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.formrow{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formrow label{
  font-size: 1.2rem;
  color: var(--seablue);
}
.formrow input,
.formrow textarea{
  width: 20rem;
  height: 2rem;
  border: 2px solid blue;
  border-radius: 0.3rem;
  outline: none;
  padding: 1rem;
}
.formrow textarea{
  height: 5rem;
}


/* button styling */
.button{
  padding: 11px 16px;
  background: transparent;
  position: relative;
  border: none;
  overflow: hidden;
  font-size: 1.5rem;
  color: var(--seablue);
  transform: translate(-6rem);
}
.button:hover{
  flex: 2;
  background: var(--seablue);
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem var(--black);
  transition-delay: 0.5s;
  color: #000;
  transition-delay: 0.5s;
}

.button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 2px solid var(--seablue);
  border-left: 2px solid var(--seablue);
  transition: 0.5s;
}
.button:hover:before{
  width: 100%;
  height: 100%;
}

.button::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 2px solid var(--seablue);
  border-right: 2px solid var(--seablue);
  transition: 0.5s;
}
.button:hover:after{
  width: 100%;
  height: 100%;
}


.bottom-left{
  margin-left: 8rem;
}
.bl-top{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  gap: 2rem;
}
.bl-bottom{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* github repo text */


.add-link{
  font-size: 2rem;
  margin-top: 1rem;
}
#allAssignments{
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
.add{
  color: var(--seablue);
  font-size: 1.8rem;
}


/* footer */

.copyright{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.footer-link{
  color: var(--seablue);
}